.menu
{
    background-color: #f6f6f6;
}




.menulabel
{
position: absolute;
width: 171px;
height: 42px;

right: 60px;
font-family: "Doran";
font-size: 26px;
font-weight: normal;
line-height: 26px;
font-style: normal;
text-align: right;
color: #1a1d74;
margin-top:50px;
}
.menulabel1
{
position: absolute;
width: 171px;
height: 42px;

right: 380px;
font-family: "Doran";
font-size: 26px;
font-weight: normal;
line-height: 26px;
font-style: normal;
text-align: right;
color: #1a1d74;
margin-top:50px;
}
.menuimg
{

position: absolute;
width: 26.5px;
height: 22.1px;
right:70px;
border-width: 1px;
margin-top:110px;
}

.menuimg1
{

position: absolute;
width: 26.5px;
height: 22.1px;
right:70px;
border-width: 1px;
margin-top:210px;
}
.menuimg2
{

position: absolute;
width: 26.5px;
height: 22.1px;
right:70px;
border-width: 1px;
margin-top:310px;
}
.menuimg3
{

position: absolute;
width: 26.5px;
height: 22.1px;
right:70px;
border-width: 1px;
margin-top:410px;
}
.menulink {
    text-decoration: none;
    color: #5D62FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* تنظیم فاصله بین هر لینک */
    position: absolute;
    right:90px;
     border-width: 1px;
     margin-top:100px;
    font-size: 20px;
}

.menulink:hover {

    color: #c526d7;
}
.menulink1 {
    text-decoration: none;
    color: #5D62FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* تنظیم فاصله بین هر لینک */
    position: absolute;
    right:90px;
     border-width: 1px;
     margin-top:200px;
    font-size: 20px;
}
.menulink2 {
    text-decoration: none;
    color: #5D62FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* تنظیم فاصله بین هر لینک */
    position: absolute;
    right:90px;
     border-width: 1px;
     margin-top:300px;
    font-size: 20px;
}
.menulink3 {
    text-decoration: none;
    color: #5D62FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* تنظیم فاصله بین هر لینک */
    position: absolute;
    right:90px;
     border-width: 1px;
     margin-top:400px;
    font-size: 20px;
}
.menulink4 {
    text-decoration: none;
    color: #5D62FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* تنظیم فاصله بین هر لینک */
    position: absolute;
    right:380px;
     border-width: 1px;
     margin-top:100px;
    font-size: 20px;
}
.menulink5 {
    text-decoration: none;
    color: #5D62FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* تنظیم فاصله بین هر لینک */
    position: absolute;
    right:380px;
     border-width: 1px;
     margin-top:160px;
    font-size: 20px;
}
.menulink6 {
    text-decoration: none;
    color: #5D62FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* تنظیم فاصله بین هر لینک */
    position: absolute;
    right:380px;
     border-width: 1px;
     margin-top:220px;
    font-size: 20px;
}
.menulink7 {
    text-decoration: none;
    color: #5D62FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* تنظیم فاصله بین هر لینک */
    position: absolute;
    right:380px;
     border-width: 1px;
     margin-top:280px;
    font-size: 20px;
}
.mainimg
{   position :absolute;
    width:370px;
    top:250px;
    left: 100px;
}
.mainimg1
{   position :absolute;
    width:370px;
    top:250px;
  margin-right: 1200px;
}
