.navbar-brand
{
  width: 70px;
}
.navbar-text
{
  font-size: 30px;

font-family: "Doran";

font-weight: normal;
line-height: 43px;
font-style: normal;
margin-right: 25px;
color: #5d62ff;

}
.navbar-nav
{
  margin-right: 200px;
}

.nav-link{
  margin-left: 90px;
  font-family: "Doran";
  font-size: 20px;
  font-weight: normal;
  line-height: 43px;
  font-style: normal;
  text-align: right;
  color: #5d62ff !important; /* Use !important to ensure the color is applied */
}

